# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [4]:
import pandas as pd

In [9]:
pd.DataFrame({'Apples' :[30],'Bananas' : [21]})

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [19]:
pd.DataFrame({'Apples' :[35, 41],
              'Bananas' : [21, 34]},
            index=['2017 Sales', '2018 sales'])

            Apples  Bananas
2017 Sales      35       21
2018 sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [36]:
pd.Series(['4 Cups','1 Cup','2 Large','1 Can'],
          index=['Flour','Milk','Eggs','Spam'], name= 'Dinner')

Flour     4 Cups
Milk       1 Cup
Eggs     2 Large
Spam       1 Can
Name: Dinner, dtype: object

## 4.

Given a list [2, 4, 5, 6, 9], output the corresponding pandas series. What is the maximum and minimum number of the Series?

In [24]:
a = pd.Series([2,4,5,6,9])

In [25]:
a.min()

2

In [21]:
pd.Series([2,4,5,6,9])

0    2
1    4
2    5
3    6
4    9
dtype: int64

## 5.

Create a dictionary, and use that to create a Pandas DataFrame similar to the above question.

In [27]:
dd = {'Kroger': 5752, 'Walmart':5578, "Target":100000}

In [28]:
dd

{'Kroger': 5752, 'Walmart': 5578, 'Target': 100000}

## 6.

Create an array of integer number using numpy's random randint and use that array to create a Panda's dataFrame bellow.

In [30]:
import pandas as pd
import numpy as np

In [31]:
a = np.random.randint(10, size= 10)

In [32]:
a

array([3, 8, 3, 9, 2, 2, 4, 7, 7, 5])

In [33]:
pd.Series(a)

0    3
1    8
2    3
3    9
4    2
5    2
6    4
7    7
8    7
9    5
dtype: int32